In [4]:
import pandas as pd
import os

# Folder and output setup
data_folder = 'data/'
output_file = 'mergedportail.xlsx'

# ✅ List of columns you want to keep
columns_to_keep = [
    "order_oc_id", "customer_id", "project_id", "country_of_delivery", "supply_center_id",
    "order_type", "direct_delivery", "warehouse_id", "country_of_origin", "order_priority_type",
    "order_id", "order_line_id", "product_id", "version_id", "product_name", "product_type",
    "product_group", "product_family", "product_cat", "product_batch_no", "shelf_life",
    "expiry_date", "packing_id", "packing_line_id", "shipment_id", "transaction_type",
    "dispatch_address", "product_assortment", "unit_price", "unit_price_assortment",
    "quantity_ordered", "quantity_packed", "quantity_received", "quantity_invoiced",
    "invoice_id", "invoice_date", "volume", "weight", "unit_volume", "unit_weight", "confirmed_amount", "invoiced_amount",
    "actual_delivery_date", "accounting_code", "order_description", "order_completion", "Total_LeadTime",
    "order_weight_kg", "order_volume_dm3", "order_volume_m3", "price_orderline",
    "unique_order_code", "unique_shipment_code", "unique_backorder_code"
]

# Initialize the DataFrame list
df_list = []

# Loop through files (skip the output file if re-running)
for file in os.listdir(data_folder):
    if file.endswith('.xlsx') and file != output_file:
        file_path = os.path.join(data_folder, file)
        print(f"Reading: {file_path}")
        df = pd.read_excel(file_path, usecols=columns_to_keep, engine='openpyxl')  # 🚀 Speed up with explicit engine
        df_list.append(df)

# Merge all filtered DataFrames
if df_list:
    merged_df = pd.concat(df_list, ignore_index=True)
    print(f"Merged DataFrame shape: {merged_df.shape}")
else:
    merged_df = pd.DataFrame()
    print("No data found to merge.")

# ✅ (Optional) Save if needed
# merged_df.to_excel(os.path.join(data_folder, output_file), index=False)

merged_df.head()

Reading: data/Cleaned_Portail_Part_1.xlsx
Reading: data/Cleaned_Portail_Part_2.xlsx
Reading: data/Cleaned_Portail_Part_3.xlsx
Reading: data/Cleaned_Portail_Part_4.xlsx
Reading: data/Cleaned_Portail_Part_5.xlsx
Reading: data/Cleaned_Portail_Part_6.xlsx
Reading: data/Cleaned_Portail_Part_7.xlsx
Merged DataFrame shape: (262636, 54)

,order_oc_id,customer_id,project_id,country_of_delivery,supply_center_id,order_type,direct_delivery,warehouse_id,country_of_origin,order_priority_type,...,order_description,order_completion,Total_LeadTime,order_weight_kg,order_volume_dm3,order_volume_m3,price_orderline,unique_order_code,unique_shipment_code,unique_backorder_code
0,18/5035/CH/NG111,CH001MCH,NG111MCH,NG,MSFL,med,No,BDX,FR,Emergency,...,EMERG MED OR NGALA (thru CM),Complete,81.0,0.29,2.80,0.00280,477.56,"NG111MCH,2018-11-23","NG,2019-01-04","18/5035/CH/NG111,SINSNEIOKN12,2019-01-04"
1,18/5035/CH/NG111,CH001MCH,NG111MCH,NG,MSFL,med,No,BDX,FR,Emergency,...,EMERG MED OR NGALA (thru CM),Complete,69.0,6.40,52.00,0.05200,377.60,"NG111MCH,2018-11-23","NG,2018-12-07","18/5035/CH/NG111,SINSIVCST18W1,2018-12-07"
2,18/5035/CH/NG111,CH001MCH,NG111MCH,NG,MSFL,med,No,BDX,FR,Emergency,...,EMERG MED OR NGALA (thru CM),Complete,69.0,0.40,3.25,0.00325,23.60,"NG111MCH,2018-11-23","NG,2018-12-07","18/5035/CH/NG111,SINSIVCST18W1,2018-12-07"
3,18/5035/CH/NG111,CH001MCH,NG111MCH,NG,MSFL,med,No,BDX,FR,Emergency,...,EMERG MED OR NGALA (thru CM),Complete,557.0,0.30,2.00,0.00200,15.70,"NG111MCH,2018-11-23","NG,2019-12-13","18/5035/CH/NG111,DINJTRAM1A-,2019-12-13"
4,18/5035/CH/NG111,CH001MCH,NG111MCH,NG,MSFL,med,No,BDX,FR,Emergency,...,EMERG MED OR NGALA (thru CM),Complete,557.0,0.60,4.00,0.00400,31.40,"NG111MCH,2018-11-23","NG,2019-12-13","18/5035/CH/NG111,DINJTRAM1A-,2019-12-13"

In [5]:
merged_df.to_excel(os.path.join(data_folder, output_file), index=False)
merged_df.head()

,order_oc_id,customer_id,project_id,country_of_delivery,supply_center_id,order_type,direct_delivery,warehouse_id,country_of_origin,order_priority_type,...,order_description,order_completion,Total_LeadTime,order_weight_kg,order_volume_dm3,order_volume_m3,price_orderline,unique_order_code,unique_shipment_code,unique_backorder_code
0,18/5035/CH/NG111,CH001MCH,NG111MCH,NG,MSFL,med,No,BDX,FR,Emergency,...,EMERG MED OR NGALA (thru CM),Complete,81.0,0.29,2.80,0.00280,477.56,"NG111MCH,2018-11-23","NG,2019-01-04","18/5035/CH/NG111,SINSNEIOKN12,2019-01-04"
1,18/5035/CH/NG111,CH001MCH,NG111MCH,NG,MSFL,med,No,BDX,FR,Emergency,...,EMERG MED OR NGALA (thru CM),Complete,69.0,6.40,52.00,0.05200,377.60,"NG111MCH,2018-11-23","NG,2018-12-07","18/5035/CH/NG111,SINSIVCST18W1,2018-12-07"
2,18/5035/CH/NG111,CH001MCH,NG111MCH,NG,MSFL,med,No,BDX,FR,Emergency,...,EMERG MED OR NGALA (thru CM),Complete,69.0,0.40,3.25,0.00325,23.60,"NG111MCH,2018-11-23","NG,2018-12-07","18/5035/CH/NG111,SINSIVCST18W1,2018-12-07"
3,18/5035/CH/NG111,CH001MCH,NG111MCH,NG,MSFL,med,No,BDX,FR,Emergency,...,EMERG MED OR NGALA (thru CM),Complete,557.0,0.30,2.00,0.00200,15.70,"NG111MCH,2018-11-23","NG,2019-12-13","18/5035/CH/NG111,DINJTRAM1A-,2019-12-13"
4,18/5035/CH/NG111,CH001MCH,NG111MCH,NG,MSFL,med,No,BDX,FR,Emergency,...,EMERG MED OR NGALA (thru CM),Complete,557.0,0.60,4.00,0.00400,31.40,"NG111MCH,2018-11-23","NG,2019-12-13","18/5035/CH/NG111,DINJTRAM1A-,2019-12-13"

In [6]:
# Assuming merged_df is already created from the previous cell

# Check if the column exists
if 'country_of_delivery' in merged_df.columns:
    # Count occurrences of each country
    country_counts = merged_df['country_of_delivery'].value_counts().reset_index()
    country_counts.columns = ['country_of_delivery', 'occurrences']

    # Sort by highest occurrences (value_counts already sorts, but to be explicit)
    country_counts = country_counts.sort_values(by='occurrences', ascending=False)

    # Print the ranking
    print(country_counts)
else:
    print("Column 'country_of_delivery' not found in the DataFrame.")

   country_of_delivery  occurrences
0                   CD        34768
1                   YE        26310
2                   SS        22733
3                   SD        21927
4                   NE        20571
5                   IQ        19656
6                   BF        15941
7                   KE        14773
8                   NG        13971
9                   TZ        11496
10                  CM        10788
11                  TD        10325
12                  MM         4396
13                  HN         4255
14                  SZ         4027
15                  UG         3737
16                  LB         3547
17                  MZ         3099
18                  UA         2998
19                  KG         2836
20                  MG         2397
21                  AO         2036
22                  GT         1708
23                  KP          757
24                  GR          662
25                  AM          543
26                  PK          484
27                  NP          348
28                  ZM          339
29                  KM          250
30                  SY          224
31                  MW          144
32                  SN          126
33                  CI           97
34                  TR           94
35                  KI           62
36                  SO           43
37                  MX           37
38                  SK           33
39                  PL           32
40                  BG           22
41                  FR           15
42                  JO           14
43                  CZ            9
44                  IR            4
45                  TO            2

In [7]:
# Filter the merged DataFrame for country_of_delivery = 'CD'
cd_df = merged_df[merged_df['country_of_delivery'] == 'CD'].reset_index(drop=True)

# Check the result
print(f"Filtered DataFrame shape: {cd_df.shape}")
print(cd_df.head())

print(cd_df['project_id'].unique())

print(cd_df['dispatch_address'].unique())

Filtered DataFrame shape: (34768, 54)
        order_oc_id customer_id project_id country_of_delivery  \
0  18/9036/CH/CD473    CH001MCH   CD473MCH                  CD
1  18/9036/CH/CD473    CH001MCH   CD473MCH                  CD
2  18/9036/CH/CD473    CH001MCH   CD473MCH                  CD
3  18/9036/CH/CD473    CH001MCH   CD473MCH                  CD
4  18/9036/CH/CD473    CH001MCH   CD473MCH                  CD

  supply_center_id order_type direct_delivery warehouse_id country_of_origin  \
0             MSFL        med              No          BDX                FR
1             MSFL        med              No          BDX                FR
2             MSFL        med              No          BDX                FR
3             MSFL        med              No          BDX                FR
4             MSFL        med              No          BDX                FR

  order_priority_type  ...                     order_description  \
0           Emergency  ...  Commande Med - Extension ETC Butembo
1           Emergency  ...  Commande Med - Extension ETC Butembo
2           Emergency  ...  Commande Med - Extension ETC Butembo
3           Emergency  ...  Commande Med - Extension ETC Butembo
4           Emergency  ...  Commande Med - Extension ETC Butembo

  order_completion Total_LeadTime order_weight_kg order_volume_dm3  \
0         Complete           49.0             0.1             0.36
1         Complete           49.0             1.0             4.40
2         Complete           49.0           270.0           423.36
3         Complete           49.0           105.0           164.64
4         Complete           62.0             3.0            12.00

  order_volume_m3 price_orderline    unique_order_code unique_shipment_code  \
0         0.00036            7.74  CD473MCH,2018-11-30        CD,2018-12-14
1         0.00440           98.60  CD473MCH,2018-11-30        CD,2018-12-14
2         0.42336         2417.04  CD473MCH,2018-11-30        CD,2018-12-14
3         0.16464          939.96  CD473MCH,2018-11-30        CD,2018-12-14
4         0.01200          456.00  CD473MCH,2018-11-30        CD,2019-01-11

                     unique_backorder_code
0  18/9036/CH/CD473,DINJNALO4A-,2018-12-14
1  18/9036/CH/CD473,DINJEPIN1AV,2018-12-14
2  18/9036/CH/CD473,DINJPARA5B-,2018-12-14
3  18/9036/CH/CD473,DINJPARA5B-,2018-12-14
4  18/9036/CH/CD473,DORAONDA4T-,2019-01-11

[5 rows x 54 columns]
['CD473MCH' 'CD104MCH' 'CD109MCH' 'CD472MCH' 'CD171MCH' 'CD147MCH'
 'CD347MCH' 'CD140MCH' 'CD449MCH' 'CD139MCH' 'CD148MCH' 'CD132MCH'
 'CD144MCH' 'CD114MCH' 'CD479MCH' 'CD477MCH' 'CD476MCH' 'CD474MCH'
 'CD495MCH' 'CD475MCH' 'CD175MCH' 'CD149MCH' 'CD176MCH' 'CD174MCH'
 'CD143MCH' 'CD195MCH' 'CD549MCH' 'CD509MCH' 'CD501MCH' 'CD511MCH'
 'CD510MCH' 'CD513MCH' 'CD502MCH' 'CD575MCH' 'CD503MCH' 'CD516MCH'
 'CD560MCH' 'CD577MCH' 'CD514MCH' 'CD515MCH']
['UG615MCH' 'CH606MCH' 'CD607MCH' 'CD609MCH' 'CD608MCH' 'CD606MCH'
 'CH600MCH' 'CD600MCH' 'UG617MCH' 'CD601MCH']

In [8]:
# Group by 'project_id' and 'product_group' and aggregate both count and total invoiced_amount
group_summary = cd_df.groupby(['project_id', 'product_group']).agg(
    counts=('product_group', 'size'),
    total_invoiced_amount=('invoiced_amount', 'sum')
).reset_index()

# ✅ Calculate total invoiced per project_id (for percentage calculation)
project_totals = group_summary.groupby('project_id')['total_invoiced_amount'].transform('sum')

# ✅ Add a new column showing the % of total invoiced per project
group_summary['percentage_of_project'] = (group_summary['total_invoiced_amount'] / project_totals) * 100

# ✅ Round for readability
group_summary['percentage_of_project'] = group_summary['percentage_of_project'].round(2)

# Preview the result
print(group_summary)

# ✅ (Optional) Save if needed
group_summary.to_excel(os.path.join(data_folder, 'CD_value_incominggoods.xlsx'), index=False)

    project_id product_group  counts  total_invoiced_amount  \
0     CD104MCH             A      26               22507.46
1     CD104MCH             C      51              444283.36
2     CD104MCH             D    1276              517307.67
3     CD104MCH             E     402               74471.21
4     CD104MCH             K     120              238214.53
..         ...           ...     ...                    ...
253   CD575MCH             P      89               31656.74
254   CD575MCH             S     517               84893.29
255   CD575MCH             T      20               75143.46
256   CD575MCH             Y       5                 778.85
257   CD577MCH             S       2                 649.40

     percentage_of_project
0                     0.94
1                    18.63
2                    21.69
3                     3.12
4                     9.99
..                     ...
253                   4.42
254                  11.85
255                  10.49
256                   0.11
257                 100.00

[258 rows x 5 columns]